<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>buscador-administrador</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="../static/css/style_buscar.css" media="screen">   


</head>

<body>
<header>
    <a href="{{url_for('ir_a_principal')}}" class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-4">Ir a Página Principal</a> 
    <input type="search" id="input-search" placeholder="Buscar aqui">

    <div class="content-search">
        <div class="content-table">
            <table>
                <thead>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">inicio></a>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">css></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">index></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">php></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">html></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">pop></a>
                        </td>
                    </tr>
                </tbody>
            </table>
      
        </div>
    </div>
</header>




</body>

