<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>


<link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/css/style.css" media="screen">

</head>
<body>

        <div class="contenido">
            <div class="caja"> 
        <h1>DASHBOARD ADMINISTRATIVO</h1>
            </div>
            <div class="caja">
        <img src="images/Cervus_canadensis.PNG">
            </div>
            
        </div>

        <div class="contenido">
            <div class="caja">                
                <h1>Administrador</h1>
                <form name="Administrador" action="" method="get" onsubmit="return validar_formulario();">
                    <div>
                        <label for="usuario">Usuario</label>                       
                        <input type="text" name="usuario" id="usuario">                       
                    </div>
                    <br>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password">
                        <img src="img/view.png" alt="" onmouseover="mostrarPassword();" onmouseout="ocultarPassword();">
                    </div>
                    <br>
                    <div>                       
                        <input type="radio" name="Administrador" id="crear" value="crear">
                        <label for="crear">Crear</label>                        
                    </div>    
                    <div>                       
                        <input type="radio" name="Administrador" id="Editar" value="Editar">
                        <label for="editar">Editar</label>                       
                    </div>
                    <div>                       
                        <input type="radio" name="Administrador" id="Eliminar" value="Eliminar">
                        <label for="Eliminar">Eliminar</label>                       
                    </div>
                    <br>
                    <h2>Usuaurio</h2>
                    <form name="Administrador" action="" method="get" onsubmit="return validar_formulario();">
                                                
                        <div>                       
                            <input type="radio" name="Administrador" id="crear" value="crear">
                            <label for="crear">Crear</label>                        
                        </div>    
                        <div>                       
                            <input type="radio" name="Administrador" id="Editar" value="Editar">
                            <label for="editar">Editar</label>                       
                        </div>
                        <div>                       
                            <input type="radio" name="Administrador" id="Eliminar" value="Eliminar">
                            <label for="Eliminar">Eliminar</label>                       
                        </div>  
                        
            </div>
            <div class="caja">
                <h1>Publicacion1</h1>
                <img src="image/Publicacion1.png" alt="" onmouseover="mostrarPassword();" onmouseout="ocultarPassword();">
                
                <div>
                    <input type="radio" name="Publicacion1" id="Eliminar" value="Eliminar">
                    <label for="Eliminar">Eliminar</label> 
                    <input type="radio" name="Publicacion1" id="Editar" value="Editar">
                    <label for="Editar">Editar</label> 
                </div>
                <br>
                <div>
                    <output type="list" name="usuario_name" id="usuario_name">
                    <label for="usuario_name">Nombre del usuario</label>
                </div>
                <div>
                    <output type="email" name="usuario_email" id="usuario_email">
                    <label for="usuario_email">Email</label>
                </div>
                <div>
                    <output type="phone" name="usuario_phone" id="usuario_phone">
                    <label for="usuario_phone">Número de Teléfono</label>
                </div>
                <div>
                <br>
                </div>
                <div>                    
                    <output type="caja" name="comentario" id="comentario">
                    <label for="comentario">Comentario:</label>
                </div>
               
                <div>
                    <div>
                        <output type="text" name="comentario" id="comentario">
                        <label for="comentario">Comentario 1 pertenece a publicación 1.</label>
                    </div>
                </div>
                <br>
                <div>
                    <input type="radio" name="comentario" id="Eliminar" value="Eliminar">
                    <label for="Eliminar">Eliminar</label> 
                    <input type="radio" name="comentario" id="Editar" value="Editar">
                    <label for="Editar">Editar</label> 
                </div>
            </div>
        </div>

        <div>
            <a href="{{url_for('ir_a_principal')}}" class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-4">Salir</a>
        </div>
   
        <div>
            <a href="{{url_for('buscar_admon')}}" class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-4">Buscador Administrador</a>
        </div>       

</body>
</html>